
body {
    font-family: "Arial", sans-serif;
    background-color: black;
}
section {
    text-align: center;
    color: chartreuse;
    font-size: 55px;
    font-family: "Courier";
    font-weight: lighter;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 510px;
    margin: 70px auto;
    color: white;
}

.game--status{
    font-size: 55px;
}

.game--restart{
    font-family: "Courier";
    font-weight: 1000;
    border: 0;
    outline: none;
    font-size: 30px;
    margin: 0px;
    
    color: chartreuse;
    background-color: black;
    border: 2px solid chartreuse;

    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.game--restart:hover{
    color: black;
    background: chartreuse;
}

.main--menu{
    font-family: "Courier";
    font-weight: 1000;
    border: 0;
    outline: none;
    font-size: 30px;
    margin: 0px;
    color: chartreuse;
    background-color: black;
    border: 2px solid chartreuse;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.main--menu:hover{

    background: chartreuse;
    color: black;

}



.cell {
    font-family: "Century Gothic", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}